name: cd
on:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    outputs:
      should_release: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        with:
          name: next
          tag: next
          version: next
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: [validate]
    if: needs.validate.outputs.should_release == 'true'
    steps:
    - name: Check out
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 8
    - name: Release
      uses: justusbunsi/jenkins-maven-cd-action@main
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}
        NO_CHANGELIST: '1'
    - name: Setup Git user
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
    - name: Lock auto-incremented version
      run: |
        mvn -B -ntp -DgenerateBackupPoms=false -Drevision=$(mvn -B -ntp -Dchangelist= -Dexpression=project.version -q -DforceStdout help:evaluate) release:update-versions
        mvn -B -ntp -Dignore.dirt incrementals:reincrementalify
        git add pom.xml
        git commit -m "[github-action] prepare for next development iteration"
        git push
